.page-wrapper:has(.luigimon-page) {
    height: 100%;
}

.boxed-width {
    max-width: 824px;
    margin: 0 16px;
}

@media only screen and (min-width: 990px) {
    .boxed-width {
        margin: 0 auto;
    }
}

.bg {
    background-image: url('../../images/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body,
html {
    height: 100%;
}

html body {
    background-color: #cfe2ff;
    font-family: 'Astonpoliz';
    letter-spacing: 1px;
}

.luigimon-page {
    color: #ffffff;
}

/* Luigimon logo */
.luigimon-page .logo-text {
    font-family: 'Pokemon';
    letter-spacing: 3px;
}

.luigimon-page .site-name,
.luigimon-page .logo-text-solid {
    font-family: 'Pokemon_solid';
    letter-spacing: 3px;
    text-shadow: 3px 2px 2px rgba(113, 113, 113, 1);
}

.luigimon-page .site-name a {
    color: white;
    text-decoration: none;
}

.luigimon-page .header .block-page-title-block {
    margin: 0;
}

/* Menu header */

.luigimon-page .menu-header {
    background-color: #0a58ca;
}

.luigimon-page .menu-header .region-primary-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
    padding: 6px 0;
}

.luigimon-page .menu-header .user-name {
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
}

.luigimon-page .menu-header .dropdown .dropdown-menu {
    min-width: 300px;
    padding: 6px 16px 16px;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    margin-top: 15px;
}

.luigimon-page .menu-header .dropdown .dropdown-menu:after {
    content: " ";
    position: absolute;
    right: 2px;
    top: -13px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white;
}

.luigimon-page .menu-header .dropdown .dropdown-menu .menu,
.luigimon-page .menu-header .dropdown .dropdown-menu .menu-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.luigimon-page .menu-header .dropdown .dropdown-menu .menu-item a {
    background-color: #cff4fc;
    color: #055160;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px;
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
}

/* Section header */

.luigimon-page .section-header {
    background-color: #3d8bfd;
    padding: 32px 0;
}

/* Page content */

.luigimon-page .page-content {
    margin-top: 0;
    margin-bottom: 0;
}

.luigimon-page .page-content>.region {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 990px) {
    .luigimon-page .page-content>.region {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.luigimon-page .page-content>.user-page {
    min-height: 100vh;
    padding: 60px 0;
}

/* Button styles */

.luigimon-page .btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 16px;
}

.luigimon-page .btn:focus {
    box-shadow: none;
}

.luigimon-page .btn:focus-visible {
    outline: 2px solid #17A2B8;
    outline-offset: -2px;
}

.luigimon-page .btn:hover {
    opacity: 0.7;
}

.luigimon-page .btn:active {
    border-color: transparent;
    box-shadow: inset 0px 4px 4px rgb(2 72 191 / 25%);
}

.luigimon-page .btn.btn-secondary {
    border: 1px solid #7749f8;
    color: #7749f8;
    background-color: #ffffff;
}

.luigimon-page .btn.btn-secondary:active {
    background-color: transparent
}

.luigimon-page .btn.dropdown-toggle {
    padding: 5px;
}

.luigimon-page .btn.dropdown-toggle::after {
    display: none;
}

/* Share button display */

.luigimon-page .btn-share {
    display: none;
}

.path-pokemon-diary .luigimon-page .btn-share {
    display: block;
}

/* Login/Sign up section styles */
.luigimon-page .user-page form {
    width: 100%;
    max-width: 500px;
}

.luigimon-page .user-page form .form-item input,
.luigimon-page .user-page form .form-type--password-confirm {
    width: 100%;
    max-inline-size: unset;
    border-radius: 6px;
}

.luigimon-page .user-page form .form-item .form-item__description,
.luigimon-page .user-page form .form-item .password-strength__title,
.luigimon-page .user-page form .form-item .password-strength__title .password-strength__text,
.luigimon-page .user-page form .form-item .password-match-message,
.luigimon-page .user-page form .form-item .password-match-message .password-match-message__text {
    color: white;
}

.luigimon-page .user-page form .form-element:hover {
    border-color: #7749F8;
    box-shadow: none;
    outline: 1px solid #7749F8;
}

.luigimon-page .user-page form .form-element:focus {
    box-shadow: none;
}

.luigimon-page .user-page form .form-element:focus-visible {
    outline: 2px solid #7749F8;
    outline-offset: 1px;
    border: 1px solid #7749F8;
}

.luigimon-page .user-page .button {
    color: white;
    background-color: #6C757D;
    width: 100%;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    .luigimon-page .user-page .button {
        width: auto;
    }
}

.luigimon-page .user-page .button:hover {
    filter: saturate(2) contrast(100%);
}

.luigimon-page .user-page .button:active {
    box-shadow: inset 0px 4px 4px rgb(2 72 191 / 25%);
}

.luigimon-page .user-page a:focus,
.luigimon-page .user-page .button:focus {
    box-shadow: none;
}

.luigimon-page .user-page a:focus-visible,
.luigimon-page .user-page .button:focus-visible {
    border: 2px solid white;
    outline: 3px solid #7749F8;
}

.luigimon-page .user-page .button#edit-submit {
    background-color: #7749F8;
}

.luigimon-page .user-page #edit-forgot-password-link {
    color: white;
}

/* Journal table styles */
.luigimon-page .my-journal-title {
    color: #3D8BFD;
}

.luigimon-page .page-content .table th,
.luigimon-page .page-content .table td {
    color: #ffffff;
    background-color: #253341;
}

/* Cards container styles */

.luigimon-page .page-content .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.luigimon-page .page-content .cards-container>div {
    flex: 0 0 100%;
    min-width: 200px;
    padding: 8px;
}

@media only screen and (min-width: 600px) {
    .luigimon-page .page-content .cards-container>div {
        min-width: 50%;
        flex: 0 0 50%;
    }
}

@media only screen and (min-width: 990px) {
    .luigimon-page .page-content .cards-container>div {
        min-width: 25%;
        flex: 0 0 25%;
    }
}

/* Cards styles */

.luigimon-page .page-content .card {
    padding: 20px 12px;
    background-color: #253341;
    color: #ffffff;
    font-size: 14px;
    line-height: 120%;
    height: 100%;
    border: 0;
    min-width: 200px;
}

@media only screen and (min-width: 990px) {
    .luigimon-page .page-content .card {
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
}

.luigimon-page .page-content .card .card-img-top {
    height: 95px;
    width: auto;
    margin: 0 auto 12px;
}

.luigimon-page .page-content .card .card-body>div+div {
    margin-top: 10px;
}

.luigimon-page .page-content .card .card-id {
    color: #aab8c2;
    font-weight: 300;
}

.luigimon-page .page-content .card .card-label-value label{
    font-size: 9px;
    color: #3d8bfd;
    font-weight: 700;
    display: block;
}

.luigimon-page .page-content .card .pokemon-nickname {
    color: #aab8c2;
    font-size: 12px;
}

.luigimon-page .page-content .card .card-label-value span {
    font-size: 12px;
    color: #aab8c2;
    font-weight: 500;
}

.luigimon-page .page-content .card.add-pokemon {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.luigimon-page .page-content .card.add-pokemon .btn {
    border-color: #17a2b8;
    color: #17a2b8;
    margin-top: 20px;
}

.luigimon-page .pokemon-types>div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Pokemon types pill styles */

.luigimon-page .pokemon-types .pill {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #aab8c2;
    color: #343a40;
    line-height: normal;
    text-align: center;
    width: fit-content;
}

/* Pager styles */

.luigimon-page .pager .pager__items {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.luigimon-page .pager .pager__link.is-active,
.luigimon-page .pager .pager__item--current {
    background: #0A58CA;
}

/* User profile */

.luigimon-page .user-profile {
    background-color: #253341;
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: calc(100% - 60px);
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;
}

.luigimon-page .user-profile .user-image div,
.luigimon-page .user-profile .pokedex-link div {
    padding: 20px;
    border-radius: 100%;
    background-color: #253341;
}

.luigimon-page .user-profile .user-image div {
    margin-top: -60px;
}

.luigimon-page .user-profile img {
    width: 100px;
    height: 100px;
    max-width: unset;
}

.luigimon-page .user-profile .user-details .label-value label {
    color: #3d8bfd;
    font-weight: 700;
    line-height: 120%;
}

.luigimon-page .user-profile .user-details .label-value span {
    color: #aab8c2;
    font-weight: 500;
    margin-left: 20px;
}

.luigimon-page .user-profile .user-details .label-value span div {
    display: inline;
}

.luigimon-page .user-profile .pokedex-link a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
}

.luigimon-page .user-profile .pokedex-link div {
    position: relative;
}

.luigimon-page .user-profile .pokedex-link a:hover {
    color: #3d8bfd;
}

.luigimon-page .user-profile .pokedex-link a img.hovered {
    position: absolute;
    top: 20px;
    left: 20px;
    visibility: hidden;
}

.luigimon-page .user-profile .pokedex-link a:hover img {
    visibility: hidden;
}

.luigimon-page .user-profile .pokedex-link a:hover img.hovered {
    visibility: visible;
}

@media only screen and (min-width: 768px) {
    .luigimon-page .user-profile {
        flex-direction: row;
    }

    .luigimon-page .user-profile img {
        width: 150px;
        height: 150px;
    }

    .luigimon-page .user-profile .user-image div {
        margin-left: -60px;
        margin-top: 0;
    }

    .luigimon-page .user-profile .user-details {
        padding: 0 20px;
        max-width: 300px;
    }

    .luigimon-page .user-profile .pokedex-link {
        margin-left: auto;
        margin-right: -60px;
        white-space: nowrap;
    }

    .luigimon-page .user-profile .user-details .label-value label {
        display: block;
    }
}

.node-diary-edit-form .form-item__label, 
.node-diary-delete-form,
.user-form form-item__label {
    color:var(--input-fg-color--description)
}

ul.tabs.tabs--primary.clearfix {
    padding-left: 0px;
}

em.placeholder {
    background-color: unset;
    opacity: 1;
}

.add-pokemon .ajax-progress--throbber {
    display: none;
}

.site-name a:focus {
    outline: none;
    box-shadow: none;
}