
<div>
    <div class="card add-pokemon">
        <img class="card-img-top mb-0" alt="Pokemon card image" src="{{ directory ~ '/images/default-pokemon-light.svg' }}" width="176px" height="95px"/>
        {{ link }}
    </div>
</div>